name: NPM Jest Tests in Docker

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run tests on (default: current branch)'
        required: false
        type: string
  push:
    branches:
      - main
      - master
      - develop
  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  npm-jest-tests:
    name: Run NPM Jest Tests
    uses: ./.github/workflows/build-test-container.yml
    with:
      branch: ${{ github.event.inputs.branch || github.ref }}
      test-command: "cd /app && npm ci && npm test"
    permissions:
      contents: read
